<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../css/bootstrap-tokenfield.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/markdown.css" />
    <link rel="stylesheet" href="../css/editormd.min.css" />
</head>
<body>
<header class="row">
    <div class="col-md-2 col-md-offset-1 row logo"><a href="/index">tuzhenyu</a></div>
    <div class="col-md-5 col-md-offset-4 navigation">
        <ul class="row">
            <li class="col-md-2"><a id="home" href="/index"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
            <li class="col-md-2"><a id="project" href="/archive"><i class="fa fa-server" aria-hidden="true"></i>Archive</a></li>
            <li class="col-md-2"><a id="life" href="/about"><i class="fa fa-heart" aria-hidden="true"></i>About</a></li>
            <li class="col-md-2"><a id="about" href="/links"><i class="fa fa-th-large" aria-hidden="true"></i>Links</a></li>
            #if($create > 0)
            <li class="col-md-2"><a id="create" href="/create"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></li>
            #end
        </ul>
    </div>
</header>
<div id="layout">
    <form action="/articleAdd"  method = "post">
        <div class="title option"><label>Title</label><input type="text" class="form-control" id="title" name="title"></div>
        <div class="row categoryTag">
            <div class="col-md-6"><div><label>Category</label></div>
                <select class="" class="form-control" id="category"  name="category">
                    <option value="Java">Java</option>
                    <option value="Web">Web</option>
                    <option value="Linux">Linux</option>
                    <option value="分布式系统">分布式系统</option>
                    <option value="数据库">数据库</option>
                    <option value="算法">算法</option>
                    <option value="其它">其它</option>
                </select>
            </div>
            <div class="col-md-6"><label>Tag</label><input type="text" class="form-control" id="tag" name="tag"></div>
        </div>
        <div class="describe option"><label>Describe</label><input type="text" class="form-control" id="describe" name="describe"></div>
        <div class="option"><label>Content</label></div>
        <div class="row">
            <div id="test-editormd">
                <textarea id="content" name="content" style="display:none;"></textarea>
            </div>
        </div>
        <div class="form-group articleSubmit option">
            <button  type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>
<script src="../js/jquery-1.11.1.min.js"></script>
<script src="../js/editormd.min.js"></script>
<script type="text/javascript">
    var testEditor;
    $(function() {
        testEditor = editormd("test-editormd", {
            width   : "90%",
            height  : 640,
            syncScrolling : "single",
            path    : "../lib/"
        });
    });
</script>
<footer>
    <div class="row">
        <ul class="col-md-4 col-md-offset-5 row">
            <div class="col-md-1"><a href="#"><i class="fa fa-weibo" aria-hidden="true"></i></a></div>
            <div class="col-md-1"><a href="#"><i class="fa fa-qq" aria-hidden="true"></i></a></div>
            <div class="col-md-1"><a href="#"><i class="fa fa-weixin" aria-hidden="true"></i></a></div>
            <div class="col-md-1"><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></div>
            <div class="col-md-1"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></div>
            <div class="col-md-1"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></div>
        </ul>
    </div>
    <div class="power"><p>@涂振宇的博客</p></div>
</footer>
</body>
</html>