{% extends "base.html" %}
{% block content %}
<div class="wrapper row">
  <div class="col-md-2"></div>
  <div class="col-md-8 row">
    <div class="col-md-9 leftSection">
      <ul class="articles">
        {% for article in articles %}
          <li class="blogAticle">
            <div class="articleHeader">
              <p><a href="{{ url_for('article', id=article.id) }}">{{article.title}}</a></p>
            </div>
            <div class="articleContent">
              <p>{{article.describe}}</p>
            </div>
            <div class="articleFooter">
              <ul>
                <li><i class="fa fa-calendar fa-1x" aria-hidden="true"></i><span>{{article.timestamp}}</span></li>
                <li><i class="fa fa-list fa-1x" aria-hidden="true"></i><span>{{article.category}}</span></li>
                <li><i class="fa fa-tags fa-1x" aria-hidden="true"></i><span>{{article.tag}}</span></li>
                <li class="readMore"><a href="{{ url_for('article', id=article.id) }}">read more</a></li>
              </ul>
            </div>
          </li>
        {% endfor %}
      </ul>
      <div class="paginationWapper">
        <ul class="pagination">
          <li {% if not pagination.has_prev %} class="disabled"{% endif %}>
            <a href="{% if pagination.has_prev %}{{ url_for('index',page = pagination.page - 1) }}{% else %}#{% endif %}">&laquo;</a>
          </li>
          {% for p in pagination.iter_pages() %}
            {% if p %}
              <li><a href="{{ url_for('index', page = p) }}">{{p}}</a></li>
            {% else %}
            <li><a href="{{ url_for('index', page = p) }}">...</a></li>
            {% endif %}
          {% endfor %}
          <li {% if not pagination.has_next %} class="disabled"{% endif %}>
            <a href="{% if pagination.has_next %}{{ url_for('index',page = pagination.page + 1) }}{% else %}#{% endif %}">&raquo;</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 rightSection">
      <div class="side categories">
        <div class="header"><i class="fa fa-list-ul" aria-hidden="true"></i><span>Categories</span></div>
        <ul>
          <li><a href="{{ url_for('category', kind = 'Java', page = p) }}">Java</a></li>
          <li><a href="{{ url_for('category', kind = 'Python', page = p) }}">Python</a></li>
          <li><a href="{{ url_for('category', kind = 'Web', page = p) }}">Web</a></li>
          <li><a href="{{ url_for('category', kind = '大数据', page = p) }}">大数据</a></li>
          <li><a href="{{ url_for('category', kind = '机器学习', page = p) }}">机器学习</a></li>
          <li><a href="{{ url_for('category', kind = '算法', page = p) }}">算法</a></li>
          <li><a href="{{ url_for('category', kind = '其它', page = p) }}">其它</a></li>
        </ul>
      </div>
      <div class="side tags">
        <div class="header"><i class="fa fa-tags" aria-hidden="true"></i><span>Tags</span></div>
        <ul>
          {% for tag in tags %}
            {% if loop.index0%3==0 %}
              <li class="row">
                <div class="col-md-4"><a href="{{ url_for('Tag', kind = tags[loop.index0], page = p) }}">{{tags[loop.index0]}}</a></div>
                <div class="col-md-4"><a href="{{ url_for('Tag', kind = tags[loop.index0+1], page = p) }}">{{tags[loop.index0+1]}}</a></div>
                <div class="col-md-4"><a href="{{ url_for('Tag', kind = tags[loop.index0+2], page = p) }}">{{tags[loop.index0+2]}}</a></div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="side recentArticles">
        <div class="header"><i class="fa fa-file-text" aria-hidden="true"></i><span>RecentArticles</span></div>
        <ul>
          {% for recentArticle in recentArticles %}
            <li><a href="{{ url_for('article', id = recentArticle.id) }}">{{recentArticle.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
