#parse("header.html")
  <div class="contant">
    <div class="wrapper row">
      <div class="col-md-2"></div>
      <div class="col-md-8 row">
        <div class="col-md-9 leftSection">
          <ul class="articles">
            #foreach($article in $articles)
              <li class="blogAticle">
                <div class="articleHeader">
                  <p><a href="/article/$!{article.id}">$!{article.title}</a></p>
                </div>
                <div class="articleContent">
                  <p>$!{article.describes}</p>
                </div>
                <div class="articleFooter">
                  <ul>
                    <li><i class="fa fa-calendar fa-1x" aria-hidden="true"></i><span>$date.format('yyyy-MM-dd', $!{article.createdDate})</span></li>
                    <li><i class="fa fa-list fa-1x" aria-hidden="true"></i><span>$!{}</span></li>
                    <li><i class="fa fa-tags fa-1x" aria-hidden="true"></i><span>$!{}</span></li>
                    <li class="readMore"><a href="/article/$!{article.id}">read more</a></li>
                  </ul>
                </div>
              </li>
            #end
          </ul>
          <div class="paginationWapper">
            <ul class="pagination">
              #if($pagination.current > 1)
              <li>
                <a href="/page/$!{pagination.prePage}">&laquo;</a>
              </li>
              #else
              <li class="disabled">
                <a href="">&laquo;</a>
              </li>
              #end
              <li><a href="">$!{pagination.current}/$!{pagination.lastPage}</a></li>
              <!--{% for p in pagination.iter_pages() %}-->
                <!--{% if p %}-->
                  <!--<li><a href="{{ url_for('index', page = p) }}">{{p}}</a></li>-->
                <!--{% else %}-->
                <!--<li><a href="{{ url_for('index', page = p) }}">...</a></li>-->
                <!--{% endif %}-->
              <!--{% endfor %}-->
              #if($pagination.current < $pagination.lastPage)
              <li>
                <a href="/page/$!{pagination.nextPage}">&raquo;</a>
              </li>
              #else
              <li class="disabled">
                <a href="">&raquo;</a>
              </li>
              #end
            </ul>
          </div>
        </div>
        <div class="col-md-3 rightSection">
          <div class="side categories">
            <div class="header"><i class="fa fa-list-ul" aria-hidden="true"></i><span>Categories</span></div>
            <ul>
              <li><a href="/category/java?pageId=1">Java</a><span>(0)</span></li>
              <li><a href="/category/Web?pageId=1">Web</a><span>(0)</span></li>
              <li><a href="/category/Linux?pageId=1">Linux</a><span>(0)</span></li>
              <li><a href="/category/分布式系统?pageId=1">分布式系统</a><span>(0)</span></li>
              <li><a href="category/数据库?pageId=1">数据库</a><span>(0)</span></li>
              <li><a href="/category/算法?pageId=1">算法</a><span>(0)</span></li>
              <li><a href="/category/其它?pageId=1">其它</a><span>(0)</span></li>
            </ul>
          </div>
          <div class="side tags">
            <div class="header"><i class="fa fa-tags" aria-hidden="true"></i><span>Tags</span></div>
            <div id="tagCloud">
              #foreach($tag in $tags)
              <a href="/tag/$!{tag.id}?pageId=1" rel="$!{tag.count}">$!{tag.name}</a>
              #end
            </div>
          </div>
          <div class="side recentArticles">
            <div class="header"><i class="fa fa-file-text" aria-hidden="true"></i><span>RecentArticles</span></div>
            <ul>
              {% for recentArticle in recentArticles %}
                <li><a href="{{ url_for('article', id = recentArticle.id) }}">{{recentArticle.title}}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
#parse("footer.html")
